<div class="container-fluid">
  <h1>Address Book</h1>

  <div class="row">
    <div class="col-4">
      <ul class="list-group">
        {{#each contacts key="@index" as |contact|}}
          <li class="list-group-item" onclick={{action onSelect contact}}>
            {{contact.fullName}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-8">
      <contact-panel @contact={{selectedContact}} />
    </div>
  </div>
</div>
